# Import Libraries & Dataset

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('IMDB_Dataset.csv')
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

# Preprocessing

In [8]:
df_cleaned = df.copy()

In [9]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [10]:
df_cleaned['sentiment'] = df_cleaned['sentiment'].replace('positive',1)

In [11]:
df_cleaned['sentiment'] = df_cleaned['sentiment'].replace('negative',0)

In [12]:
df_cleaned.sample(6)

                                                  review  sentiment
42130  This lame Harold Lloyd sound film has nary a l...          0
30769  Hey everyone...<br /><br />There really isn't ...          0
21518  This film is bundled along with "Gli fumavano ...          0
11199  My roommate had bought this documentary and in...          1
44147  This movie rocks" Jen sexy as ever and Polly w...          1
37016  Magnificent and unforgettable, stunningly atmo...          1

# Apply Machine Learning

In [13]:
x = df_cleaned['review'].values
y = df_cleaned['sentiment'].values

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=1)

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vectorizer.fit(x_train)

CountVectorizer()

In [16]:
X_train = vectorizer.transform(x_train)
X_test = vectorizer.transform(x_test)

In [17]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score = classifier.score(X_test, y_test)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [18]:
score

0.89032

In [19]:
test_comment = np.array(['I dont think its good movie, even the actors are s**ks. But why is the rating 8? not in my hundreds milion of minds'])
test_comment

test_comment_vectorized = vectorizer.transform(test_comment)
test_comment_vectorized

predict = classifier.predict(test_comment_vectorized)
predict

array([0])

Comment tersebut adalah sentimen negatif.